.cards {
  border-left: 2px solid #cdcdcd;
  padding: 40px 30px;
  font-size: 22px;
  height: 470px;
  width: 380px;
  margin: 30px 0px;
  transition: 0.4s;
}

.cards:hover {
  background-color: #cdcdcd;
}

.cards--num {
  font-size: 68px;
  color: #bdbdbd;
}

.cards--details {
  margin: 30px 0px;
}

.cards--title {
  font-size: 48px;
  margin: 20px 0;
}
