@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Space+Grotesk&display=swap");

* {
  margin: 0;
}

body {
  background: #efefef;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Space Grotesk", sans-serif;
  overflow-x: hidden;
}
