.faq {
  margin: 40px 0px;
  display: flex;
  justify-content: space-evenly;
  overflow: visible;
}

.faq--title {
  width: 50%;
}

.more--details {
  margin: 20px 10px;
  font-size: 22px;
  width: 80%;
  font-weight: 400;
}

.questions {
  margin: 50px 0px;
}

.faq--btn {
  margin: 50px 0px;
}
