.hero {
  padding: 80px 0px;
}

.title {
  font-size: 16vw;
  display: flex;
}

.title--works--content {
  margin-left: 30px;
  padding-top: 0.4em;
}

.title--works {
  font-size: 1.3vw;
  position: relative;
  overflow: visible;
}

.reduce--tm {
  margin-top: -80px;
}

.title--details {
  color: black;
  font-size: 0.08em;
  width: 460px;
  margin-top: 3em;
  margin-left: 10px;
}
