.home {
  padding: 0px 60px 0px 120px;
}

@media (max-width: 1330px) {
  .questions {
    width: 80%;
  }

  .home {
    padding: 0px 40px 0px 80px;
  }
  .title--details {
    display: none;
  }
  .title {
    font-size: 18vw;
  }
  .reduce--tm {
    margin-top: 0px;
  }
}

@media (max-width: 904px) {
  .faq {
    flex-wrap: wrap;
  }
  .questions {
    width: 100%;
    margin: 0px;
  }
  .faq--title {
    width: 100%;
  }
  .question--title {
    padding-right: 40px;
  }
  .hero {
    padding: 100px 0px 40px 0px;
  }
  .title--works {
    padding: 1px 0px;
    font-size: 0.1em;
  }
  .home {
    padding: 0px 40px 0px 60px;
  }
  .about--detials {
    font-size: 1.1em;
  }
}

@media (max-width: 700px) {
  .service--cards {
    padding: 0px 0px;
  }
  .cards {
    margin: 30px auto;
  }
  .question {
    margin: 0px 0px;
  }
}

@media (max-width: 540px) {
  .home {
    padding: 0px 30px;
  }
  .title {
    font-size: 22vw;
  }
  .title--works {
    font-size: 0.14em;
    padding-left: 10px;
    margin-top: -3px;
  }
  .title--works--content {
    padding-top: 25px;
    overflow: visible;
    /* display: flex; */
    margin-left: 10px;
    flex-wrap: wrap;
    width: 90px;
  }
  .about {
    padding-left: 20px;
  }
  .question {
    font-size: 1.3em;
  }
  .button {
    scale: 0.9;
    overflow: hidden;
  }
  .services--title {
    font-size: 3em;
    margin: 20px 0px;
  }
  .cards {
    height: fit-content;
  }
  .about--detials {
    width: 90%;
  }
  .reduce--tm {
    font-size: 17.9vw;
    font-weight: 600;
  }
  .cards--title {
    font-size: 35px;
  }
  .home {
    padding: 0px 30px 0px 30px;
  }
  .show--answer {
    height: 50px;
    overflow: hidden;
  }
  .cards {
    font-size: 18px;
  }
  .hero {
    padding: 30px 0px 40px 0px;
  }
  .answer {
    margin: 30px 45px;
  }
}
