.category {
  margin: 40px 7vw;
  font-size: 28px;
  width: 80%;
  padding-bottom: 40px;
  border-bottom: solid 2px rgb(151, 151, 151);
}

.category--title {
  font-weight: 600;
  padding: 10px 30px;
  display: flex;
  margin-bottom: 30px;
}

.ct--title {
  width: 98%;
}

.checkbox {
  background-color: black;
  border-radius: 50%;
  z-index: 4;
  padding: 0px 10px;
  filter: invert(1);
  scale: 0.9;
  width: 20px;
  cursor: pointer;
}

.product {
  display: flex;
  padding: 10px 30px;
}

.product--dis {
  font-size: 21px;
  padding-left: 20px;
}

.checkout {
  display: flex;
  justify-content: center;
  margin: 80px;
}

.apply {
  overflow: visible;
}

@media (max-width: 620px) {
  .category {
    font-size: 20px;
    width: 90%;
  }
  .checkbox {
    padding: 8px 10px;
    height: 24px;
    overflow: hidden;
  }
  .product--dis {
    font-size: 20px;
  }
}

@media (max-width: 420px) {
  .category {
    margin: 40px 2vw;
  }
  .product--dis {
    font-size: 16px;
  }
  .apply {
    scale: 0.8;
  }
}
