.applyform {
  display: flex;
  margin: 90px 5vw;
  flex-wrap: wrap;
}

.more--details {
  width: 90%;
}

.button {
  overflow: visible;
}

.af--title--main {
  padding: 100px 0px;
  width: 30%;
}

.apply--form {
  width: 45%;
  border: solid 2px black;
  border-radius: 20px;
  margin: 80px auto;
  padding: 40px;
}

.af--title {
  font-size: 36px;
}
.apply--form label {
  font-size: 22px;
}

.apply--form form {
  margin: 40px 20px;
}

.single--level {
  display: flex;
}

.af--name {
  background-color: #efefef;
  border: 0px;
  border-bottom: solid 2px black;
  font-size: 20px;
  padding: 10px;
  margin: 10px 5px;
  width: 14em;
}

.block {
  display: block;
}

.block2 {
  margin-left: 40px;
}

.block3 {
  margin: 30px 0px;
}

.af--email {
  width: 88%;
}

.af--inputBox {
  width: 73%;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  padding: 6px 12px;
  cursor: pointer;
  font-size: 18px !important;
  margin-top: 5px;
}

.mt60 {
  margin-top: 60px;
}

@media (max-width: 1122px) {
  .apply--form {
    width: 50%;
  }
}

@media (max-width: 960px) {
  .applyform {
    flex-direction: column;
  }
  .af--title--main {
    width: 90%;
    padding: 30px;
  }
  .apply--form {
    width: 80%;
    margin: 30px 30px;
  }
}

@media (max-width: 870px) {
  .pos--type {
    display: none;
  }
}

@media (max-width: 640px) {
  .single--level {
    flex-direction: column;
  }
  .block2 {
    margin: 30px 0px;
    margin-bottom: 10px;
  }
  .af--inputBox {
    margin-bottom: 40px;
    width: 100%;
  }
  .apply--form {
    width: 75%;
    margin: 30px 10px;
    padding-left: 20px;
  }
  .af--title--main {
    padding: 15px;
  }
}

.error {
  padding: 10px 20px;
  color: red;
}
