.positions {
  margin: 40px 0px;
}

.headlines {
  color: rgb(79, 79, 79);
}

.newpos {
  display: flex;
  width: 90%;
  justify-content: space-around;
  font-size: 22px;
  text-align: left;
  margin: 10px auto;
}

.pos--element {
  padding: 30px;
  width: 20%;
  text-align: center;
}

.pos--apply {
  margin-top: -5px;
}

.more--info {
  /* height: 0px; */
  opacity: 0;
  font-size: 2px;
  width: 60%;
  margin: 10px auto;
  overflow: hidden;
  transition: font-size 300ms 200ms ease-in, opacity 100ms 200ms ease-in;
}

.more--info--display {
  /* height: auto; */
  opacity: 1;
  font-size: 22px;
}
